name: automerge

on:
  pull_request:
    branches:
      - 'feature-branch/automerge-all-in-one'
    types:
      - labeled
      - unlabeled
      - synchronize
      - ready_for_review
  check_suite:
    types:
      - completed
  status: {}
jobs:
  automerge:
    if: contains(github.event.pull_request.labels.*.name, 'QA approved')
    runs-on: ubuntu-20.04
    steps:
      - id: automerge
        name: automerge
        uses: "emeritus-tech/em-automerge-action@v1.0.0"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: "QA approved,queue,deploy,!on hold"
          MERGE_METHOD: "squash"
          MERGE_COMMIT_MESSAGE: "Auto-merge action merge PR {pullRequest.number} into base branch"
          MERGE_FORKS: "false"
          MERGE_RETRIES: "6"
          MERGE_RETRY_SLEEP: "10000"
          MERGE_REQUIRED_APPROVALS: "0"
          BASE_BRANCHES: "feature-branch/automerge-all-in-one"
          UPDATE_LABELS: "QA approved,queue,!on hold"
          UPDATE_METHOD: "merge"
    if: "!contains(github.event.pull_request.labels.*.name, 'QA approved')"
    run: echo "::notice ::Test message for history"