name: automerge

ame: Merge Bot

on:
  pull_request:
    branches:
      - 'feature_branch'
    types:
      - labeled
      - ready_for_review
      - review_request_removed
      - review_requested
      - synchronize
      - unlabeled
  pull_request_review:
    types:
      - dismissed
      - submitted

jobs:
  merge:
    runs-on: ubuntu-latest
    name: Merge
    steps:
    - name: Integration check
      uses: squalrus/merge-bot@v0.1.0
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        test: true
        reviewers: false
        labels: QA approved, queue, deploy
        blocking_labels: not ready
        checks_enabled: true
        method: squash
        delete_source_branch: false
